.titulo {
text-align: center;
color: #e1491b;

}
h2{
    text-align: center;
    color:  #e1491b;
}
h3{
    text-align: center;
    color: black;
}
body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    form {
        max-width: 600px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="datetime-local"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
  div {
      justify-content: center;
     display: flex;
     padding:3rem;
  }
  img{
      width: 60%;
      height: 30%;
  }
.graficos{
    display:list-item;
 
   
}



/*comienza menu  */
  #menu {
	background: #45a049;
	color: #FFF;
	height: 60px;
	padding-left: 18px;
	border-radius: 10px;
	position: relative;
	width: 98%;
   
	
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
}

/*termina menu  */